<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Brand Atlas</title>


  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/combine/npm/startbootstrap-sb-admin-2@4.1.1/vendor/fontawesome-free/css/all.min.css,npm/startbootstrap-sb-admin-2@4.1.1/css/sb-admin-2.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" rel="stylesheet"/>
</head>

{% block login %}
<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div>
                <a href="{% url 'main:index' %}" style="text-decoration: none;">
            <img class=" rounded-circle" src="{% static 'logo.jpeg' %}" height="50" width="50">
                <h6 class="d-inline text-secondary">Kapardi </h6>
                </a>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">



            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-inline text-gray-600 small">Hello <b>{{ user }}</b>!</span>

              </a>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
          {% block content %}
        <div class="container-fluid">

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800" style="margin-bottom: 20px !important;">Home</h1>
              <a href="{% url 'main:create' %}" class=" d-sm-inline-block btn btn-sm btn-primary shadow-sm">Add Brand <b>(+)</b> </a>
            <a href="{% url 'main:contact' %}"  class="d-sm-inline-block btn btn-sm btn-success shadow-sm">Message Us <b>!</b></a>
          </div>

        {% if messages %}

            {% for message in messages %}
            <div {% if message.tags %}class="alert alert-info alert-dismissible fade show"{% endif %}>
                <b>{{ message.tags }}:   </b>{{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}

        {% endif %}

        <div class="content-wrapper">
            <div class="alert alert-primary">
                <input type="text" maxlength="100" id="uni-search" class="form-control" onkeyup="handleSearchKeyUp(e);">
            </div>
            <!-- Content Row -->
          <div class="row shuffle-row">

            {% for brand in allBrands %}
            <div class="col-xl-3 col-md-3 mb-4 brand-item" data-country="{{ brand.origin_country }}" data-title="{{ brand.name }}">
                <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col text-center mr-2">
                        <img src="{{ brand.logo }}" style="max-height: 50px; max-width: 60px;" alt="{{ brand.name }}'s logo">
                        <hr/>
                    <div class="h5 mb-0 font-weight-bold text-gray-800"> ( {{ brand.name }} )</div>
                    </div>
                  </div>
                    <br/>
                <div class="row no-gutters align-items-center">
                    <div class="col text-center mr-2">
                        <span class="flag-icon flag-icon-{{ brand.origin_country.flag_icon | lower }}" style="font-size: 1.35em;"></span>
                                        <br/>
                           <h6>{{ brand.origin_country }}</h6>
                        </div>
                </div>
                <br/>
                    <div class="row no-gutters align-items-center">

                        <div class="col text-center mr-2 ">
                        <!-- Description modals -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ brand.name | cut:" " }}-{{ brand.origin_country | cut:" " }}descriptionModal">
                          Read More
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="{{ brand.name | cut:" " }}-{{ brand.origin_country | cut:" " }}descriptionModal" tabindex="-1" role="dialog" aria-labelledby="descriptionModalTitle" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">{{ brand.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">

                              <div class="row">
                                  <div class="col">
                                    <div class="row">
                                        <div class="col" style="padding: 10% 0;">
                                            Logo:<br/>
                                           <img class="img" src="{{ brand.logo }}" style="max-height: 50px; max-width: 60px;" alt="{{ brand.name }}'s logo">
                                        </div>
                                        <div class="col">
                                             Name:
                                      <h5 class="text-dark">{{ brand.name }}</h5>
                                        </div>
                                    </div>

                                      <hr/>
                                     Description:
                                     <p class="text-dark">{% if brand.description %}
                                 {{ brand.description }}
                                    {% else %}
                                    No Description
                                    {% endif %}
                                     </p>
                                  </div>
                                  <div class="col text-center">
                                      <span class="flag-icon flag-icon-{{ brand.origin_country.flag_icon | lower }}"
                                            style="font-size: 4em;"></span>
                                        <br/>
                                       <br/>
                                      <h6>({{ brand.origin_country.name }})</h6>
                                  </div>
                              </div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </div>
                            </div>
                          </div>
                        </div>


                        </div>
                            {% if not brand.finalise %}
                        <div class="col text-center mr-2 border-left">

                        <div class="text-center">
                        <a href="{% url 'main:edit' brand.pk %}" class="btn btn-warning">Edit</a>
                        </div>

                        </div>
                                <div class="col text-center mr-2 border-left">

                        <div class="text-center">
                       <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#finaliseModal">
                          Finalize
                        </button>
                            <!-- Modal -->
                        <div class="modal fade" id="finaliseModal" tabindex="-1" role="dialog" aria-labelledby="finaliseModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Finalize Brand</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                      <span aria-hidden="true">&times;</span>
                                    </button>
                                  </div>
                                <div class="modal-body">
                                   <h5> Do you want to finalize the details of the brand?</h5>
                                </div>
                                <div class="modal-footer">
                               <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                   <form method="post" action="{% url 'main:finalize' brand.id %}">
                                       {% csrf_token %}
                                   <button class="btn btn-success" type="submit" >Yes!</button>
                                   </form>
                              </div>

                            </div>
                          </div>
                        </div>

                        </div>

                        </div>
                            {% endif %}

                    </div>

                </div>
              </div>
            </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row shuffle-row">
                {% endif %}
              {% endfor %}
              </div>
        </div>

        </div>
          {% endblock %}
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Kapardi Labs 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
   ^
  </a>

  <!-- Bootstrap core JavaScript-->
  <script src="https://cdn.jsdelivr.net/combine/npm/startbootstrap-sb-admin-2@4.1.1/vendor/jquery/jquery.min.js,npm/startbootstrap-sb-admin-2@4.1.1/vendor/bootstrap/js/bootstrap.bundle.min.js,npm/startbootstrap-sb-admin-2@4.1.1/vendor/jquery-easing/jquery.easing.min.js,npm/startbootstrap-sb-admin-2@4.1.1/js/sb-admin-2.min.js,npm/startbootstrap-sb-admin-2@4.1.1/vendor/chart.js/Chart.min.js,npm/startbootstrap-sb-admin-2@4.1.1/js/demo/chart-area-demo.min.js,npm/startbootstrap-sb-admin-2@4.1.1/js/demo/chart-bar-demo.min.js,npm/startbootstrap-sb-admin-2@4.1.1/js/demo/chart-pie-demo.min.js,npm/startbootstrap-sb-admin-2@4.1.1/js/demo/datatables-demo.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

      <script src="https://cdn.jsdelivr.net/npm/shufflejs@5.2.3/dist/shuffle.min.js"></script>
<script>$(document).ready(function() {
        $('#sourceCategory').select2({
            tags:true
        });
        $('#sourceCountry').select2();
        $('#sourceParent').select2();
    });
    </script>

 <script>
        var Shuffle = window.Shuffle;
        var element = document.querySelector('.shuffle-row');

        var shuffleInstance = new Shuffle(element, {
          itemSelector: '.brand-item'

        });

    function handleSearchKeyUp() {

        var searchString = document.getElementById("uni-search").value;
        shuffleInstance.filter(function(element){
            return element.getAttribute("data-title").includes(searchString) || element.getAttribute("data-country").includes(searchString);
        });

    }

</script>
</body>

{% endblock %}
</html>
