<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Brand Atlas</title>
  </head>
  <body>
  {% block content %}
  <div class="jumbotron" style="margin-bottom: 0;">
  <h1 class="display-4">Crawl Configs</h1>
  <p class="lead">Click submit on the confirmed crawl configs.</p>
</div>
  <div class="table-responsive-md">
      <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">Brand Selector</th>
      <th scope="col">Country Selector</th>
      <th scope="col">Description Selector</th>
        <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
  {%  for config in configs %}
    <tr>
      <th scope="row"><p class="text-success">{{ config.url }}</p></th>
      <td><p class="text-warning">{{ config.brand_selector }}</p></td>
        <td><p class="text-info">{{ config.country_selector }}</p></td>
      <td><p class="text-danger">{{ config.description_selector }}</p></td>
    <td>
        {% if not config.crawled %}
          <form action="{% url 'main:crawl' config.id %}" method="post">
          {% csrf_token %}
              <button class="btn btn-success" type="submit">Crawl Now</button>
          </form>
          {% else %}
              <button class="btn btn-secondary">Crawled</button>
          {% endif %}
    </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
  </div>
    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>