{% extends "index.html" %}

{% block content %}
<div class="jumbotron" style="min-height: 100vh;">
  <h1 class="display-4">Response</h1>
  <p class="lead">Check logs</p>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="alert alert-warning">URL -{{ url }}</div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-info"> No of Brands - {{ no_of_brands }}</div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-info"> No of Countries - {{ no_of_countries }}</div>
        </div>
        <div class="col-md-3">
            <div class="alert alert-info"> No of Descriptions - {{ no_of_description }}</div>
        </div>

    </div>
    {% if exception %}
    <div class="row">
    <div class="col-md-3">
    <div class="alert alert-secondary">Error</div>
    </div>
        <div class="col-md-3">
            <div class="alert alert-danger">{{ exception }}</div>
        </div>
    </div>
    {% endif %}

    <div class="row text-center">
        <a class="btn btn-success" href="{% url 'main:index' %}">
            Go back to homepage
        </a>
    </div>

  </div>

{% endblock %}
